/*
copyright ONEBLOG ©鲁子阳 V3.2
*/
/**全局**/
html {
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    background-image: url(https://img.luziyang.cn/blog/bg_0124.jpg);
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}

body {
    color: #333;
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}

p {
    line-height: 1.9em;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

a:link,a:visited {
    opacity: 1;
    color: #424242;
}

a:active,a:hover {
    color: #555;
}

/*404页面*/
.content-404 {
    height: 519px;
    padding-top: 70px;
}

.img-404 {
    width: 180px;
    height: 180px;
    background: url("../img/404.png") no-repeat center center;
    margin: 30px auto 20px;
    background-size: contain;
}

.caption-404 {
    height: 42px;
    font-size: 20px;
    color: #C7DCEB;
    letter-spacing: 0;
    text-align: center;
}

/*页眉*/

.header {
    background: #FFF;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 170px 30px 20px 30px;
    box-shadow: rgb(203, 208, 218) 0px 2px, rgba(48, 52, 63, 0.2) 0px 3px, rgba(48, 52, 63, 0.2) 0px 7px 7px, rgb(255, 255, 255) 0px 0px 0px 1px inset;
}

.header a {
        color: #fff;
}

.logo {
    padding-left: 70px;
    display: flex;
}

.logo img{
        width: 55px;
        height: 55px;
       margin-right: 10px;
}

.slogan h1 {
         font-size: 1.3em;
         text-align: left;
         margin: 0;
}

/*页脚*/
.footer {
    clear: both;
    max-width: 780px;
    text-align: center;
    font-size: 12px;
    padding: 60px 0;
    margin: 0 auto;
}

.footer a {
    color: #4E4E4C;
    margin: 0 12px;
}

.footer a:hover {
    color: #1F1F1F;
}

.navigation {
    margin: 0;
    font-size: 11px;
}

.navigation a {
    margin: 0 5px;
}

.navigation a:hover {
    color: #ff5757;
}

.copyright {
	color:#6f6f6f66;
    margin-top: 12px;
}

.copyright a {
	color:#6f6f6f66 !important;	
}

.ad-logo {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
}

.ad-logo img {
    width: 50px;
    height: 50px;
}

/*首页列表*/
.main {
   box-shadow: rgb(203, 208, 218) 0px 2px, rgba(48, 52, 63, 0.2) 0px 3px, rgba(48, 52, 63, 0.2) 0px 7px 7px, rgb(255, 255, 255) 0px 0px 0px 1px inset;
   background: #fff;
   margin: 0 auto;
}

.content {
    max-width: 720px;
    padding: 0 100px;
    height: auto;
    margin: 0 auto;
    clear: both;
}

.post {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px #f1f1f1 solid;
}

.post_title {
    padding-bottom: 16px;
}

.post_title h2 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    color: #1F1F1F;
    margin: 0 0 6px 0;
}

.post_title a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #1F1F1F;
    font-size: 1.4rem;
    line-height: 28px;
}

.post_title span {
    color: rgba(0,0,0,.44);
    font-size: 1.4rem;
}

.post_preview {
    display: inline-flex;
    word-break: break-all;
}

.post_preview p {
    padding-bottom: 0!important;
    letter-spacing: 2px;
    line-height: 2em;
    margin-bottom: .6em;
}

.post_abstract {
    width: 150%;  
}

.post_img {
    display: inline;
    width: 300px;
    height: 105px;
    border-radius: 8px;
    margin-left: 10px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.post_meta {
    padding: 20px 0 5px 0;
    max-width: 100%;
    height: 25px;
    color: #bbb;
}

.post_views,.post_date,.post_comment {
    float: left;
    font-size: 11px;
    margin-right: 30px;
}

.post_meta a {
    color: #bbb;
}

.preload {
    padding: 30px 0 30px 0;
    color: #666;
    font-size: 14px;
    clear: both;
    display: flex;
    justify-content: center;
    align-content: center;
}

.preload .next {
    float: initial;
}

.preload a {
    color: #888;
    text-decoration: none;
}

.preload a:hover {
    color: #333;
}

#gototop {
    position: fixed;
    right: calc(((100% - 800px)/2) - 50px);
    bottom: 12px;
    z-index: 999;
}

#gototop img {
    opacity: .9;
    cursor: pointer;
    width: 30px;
    height: auto;
}

.hidden {
    display: none;
}

.newtotop {
    float: right;
    position: relative !important;
    bottom: 28px !important;
    clear: both;
    height: 0;
}

.contact {
    margin-top: 12px;
}

.contact a {
    color: #5f5f5f;
    font-size: 20px;
    float: none;
    cursor: pointer;
    margin-right: 10px;
}

.contact i {
    font-size: 20px;
}

.icon {
       width: 0.7em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
    
/*相册*/

.page {
    padding: 30px 100px;
}

.page_title h2 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    color: #1F1F1F;
    margin: 0 0 6px 0;
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
}

.page_title h2:before {
    content: '';
    left: 1px;
    right: 1px;
    height: 52%;
    background-color: #ff5757;
    position: absolute;
    opacity: 0.23;
    top: 70%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.grid { 
   float: left;
   padding:2px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
    width: 136px;
    height: 136px;
    border: 1px solid white;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.grid-item img:hover {
    opacity:1;
}

.image-shadow {
    position: relative;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.image-shadow:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.blur img:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -moz-box-shadow: 0 3px 10px #888;
    -webkit-box-shadow: 0 3px 10px #888;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}

/*书房*/
#books {
    display: flex;
    flex-flow: row wrap;
}

#books a {
    margin-right: 15px;
    margin-bottom: 15px;
}

#books a:nth-child(5n+0){
    margin-right: 0px;
}

.book-thumb {
    width: 93px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.book-name {
    text-align: center;
    font-size: 11px;
    white-space: nowrap;
    margin: 10px 5px;
    overflow: hidden;
}

/*书房详情页*/

.book-bg {
    height: 150px;
    position: relative;
    padding: 60px 100px 20px;
    }
    
.book-bg:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter: blur(20px);
    -webkit-filter:blur(20px);
    -moz-filter:blur(20px);
    -ms-filter:blur(20px);
    -o-filter:blur(20px);
    }
    
.books-content {
    overflow: hidden;
    }
    
.book-img img {
    width: 95px;
    height: 135px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 1px 1px 2px 0px #00000070;
    }
    
.book-info,.book-img {
    filter: blur(0);
    float: left;
    vertical-align: middle;
    margin-right: 2em;
    }
    
.book-info {
    color: #fff;
    font-family: auto;
    letter-spacing: 2px;
    display:grid;
    }
    
.book-info h2 {
    text-shadow: 2px 2px 0px #1f1f1f;
    margin: 0;
    }
    
.book-info span {
    margin-top: 10px;
    text-shadow: 1px 1px 0px #1f1f1f;
    }
    
.usual {
  padding: 20px 100px;
}

.usual ul li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.usual .bookcss {
    padding: 10px 10px 8px 10px;
    clear: left;
}

#idTab3,#idTab2{
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    white-space: pre-wrap;
    letter-spacing: 2px;
    line-height: 2;
    background: #f9f9f9;
    padding: 40px 50px;
    font-size: 14px;
    color: #8b8b8b;
}

#idTab2 p {
    margin-bottom: 2em;
}

#idTab2 p:last-child {
    margin-bottom: 0;
}

.idTabs {
    display: table-cell;
    position: relative;
    padding-inline-start: 0;
}

.idTabs .selected {
    border: #e0e0e0 1px solid;
    box-shadow: #1f1f1f 2px 2px;
    border-radius: 100px;
}

.idTabs li a {
     padding: 8px 15px;
    font-size: 14px;
    font-family: sans-serif;
}

.bookcss #comments {
    margin-top: 0 !important;
}

#comments .book-content {
    border: #f6f6f6 1px solid;
    box-shadow:1px 1px 0 -1px rgba(126, 107, 107, 0.95);
     -moz-border-radius-bottomleft: 20px 500px;
    -moz-border-radius-bottomright: 500px 30px;
    -moz-border-radius-topright: 5px 100px;
    -webkit-border-bottom-left-radius: 20px 500px;
    -webkit-border-bottom-right-radius: 500px 30px;
    -webkit-border-top-right-radius: 5px 100px;
    border-bottom-left-radius: 20px 500px;
    border-bottom-right-radius: 500px 30px;
    border-top-right-radius: 5px 100px;
    padding: 30px 62px;
}

#comments .book-content .book-note-content {
    word-wrap: break-word;
    line-height: 2rem;
}

#comments .book-content p {
    margin: 0;
    padding-left: 0 !important;
    word-break: break-all;
    text-align: justify;
    color: #606975;
    line-height: 30px !important;
    position: relative;
    padding-bottom: 20px;
    font-size: 14px;
    background: -webkit-gradient( linear, left top, left bottom, from(#05241d), color-stop(2%, rgba(255, 255, 255, 0)) );
    background: -moz-repeating-linear-gradient(top,#05241d,#05241d 29px,rgba(255, 255, 255, 0) 30px);
	background: repeating-linear-gradient(top,#05241d,#05241d 29px,rgba(255, 255, 255, 0) 30px
    );		
    -webkit-background-size: 100% 30px;
}

.bookcss #comments .comment-list li {
    margin-bottom: 60px;
    width: 100%;
}

.books-content #comments .comment-list li {
     -moz-border-radius-bottomleft: 20px 500px;
    -moz-border-radius-bottomright: 500px 30px;
    -moz-border-radius-topright: 5px 100px;
    -webkit-border-bottom-left-radius: 20px 500px;
    -webkit-border-bottom-right-radius: 500px 30px;
    -webkit-border-top-right-radius: 5px 100px;
    border-bottom-left-radius: 20px 500px;
    border-bottom-right-radius: 500px 30px;
    border-top-right-radius: 5px 100px;
}

.books-content #comments .comment-list li:nth-child(5n+1) {
    background: #f9f9f9;
}

.books-content #comments .comment-list li:nth-child(5n+2){
    background:rgba(255, 252, 229, 1);
}

.books-content #comments .comment-list li:nth-child(5n+3){
    background:rgba(217, 255, 226, 0.46);
}


.books-content #comments .comment-list li:nth-child(5n+4){
    background:rgba(255, 233, 156, 0.45);
}

.books-content #comments .comment-list li:nth-child(5n){
    background:rgba(255, 226, 210, 0.27);
}

.comment-book-info {
    text-align: right;
    font-size: 11px;
}

.book-list:first-child{
    margin-top: 50px;
}

.books-content .page-navigator {
    margin: 20px 0;
    clear: both;
}


/*友链*/
.links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 15px;
}

.links li {
    list-style: none;
}

.link-item a {
    display: block;
    border-radius: var(--radius-inner);
    overflow: hidden;
    padding: 15px;
    color: #555;
    word-break: break-all;
    transition: box-shadow 0.35s, -webkit-transform 0.35s;
    transition: transform 0.35s, box-shadow 0.35s;
    transition: transform 0.35s, box-shadow 0.35s, -webkit-transform 0.35s;
}

.link-item h5 {
    position: relative;
    font-size: 14px;
    margin: 0;
    display: inline-block;
    letter-spacing: 2px;
}

.link-item h5:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background:#bbb;
}

.link-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.link-info span {
    margin-right: 10px;
    font-size: 11px;
}

.link-info img {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
}

.links li:nth-child(6n+1) {
    background: #00a4bb1a;
}

.links li:nth-child(6n+2) {
    background: #fff2eb;
}

.links li:nth-child(6n+3) {
    background: #edf7ff;
}

.links li:nth-child(6n+4) {
    background: #f5f2fb;
}

.links li:nth-child(6n+5) {
    background: #ff858529;
}

.links li:nth-child(6n) {
    background: #fbf2f2;
}

h4.link-request {
    margin: 40px 0 15px 0;
    color: #333333;
}

/*有图文章详情*/
.margin-top {
    margin-top:50px;
}
.post_thumb {
	background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.post_thumb .title_cat {
	position: absolute;
    line-height: 1.4;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, .01) 5%, rgba(0, 0, 0, .75) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(0, 0, 0, .01) 5%, rgba(0, 0, 0, .75) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .65) 100%);
}

.post_thumb .title_cat a {
    padding: 5px 15px;
    background: #fff;
    color: #3e3e3e;
    font-size: 12px;
    margin: 0 100px;
    border-radius: 50px;
}

.post_thumb .title_cat h1 {
    color: #FFF;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 600;
    text-shadow: 0px 1px 4px #000;
    padding: 0px 100px 40px;
}

.post_thumb .post_info {
	position: absolute;
    line-height: 1.4;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 100px;
}

.post_thumb .post_info span{
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    position: relative;
}


.post_content {
    word-break: break-all;
    margin-top: 2em;
}

.post_content p,.page p {
    letter-spacing: 2px;
    line-height: 2em;
    margin-bottom: 1.5em;
    text-align:justify;
    
}

/*版权声明*/
.cc-say {
    font-size: 13px;
    background: #fff4f3;
    color: #f58e85;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 2;
    margin: 30px 0;
    text-align:justify;
}

.cc-say span {
    font-weight: 600;
}

/*上一篇下一篇*/
.post_footer {
    padding: 10px 0 40px;
    
}

.post_footer .tags {
    max-width: 100%;
    height: 25px;
    color: #bbb;
    font-size: 11px;
    margin-bottom: 20px;
}

.post_footer .tags a {
    text-decoration: none;
    color: #bbb;
    background-color: #f9f9f9;
    padding: 6px 10px;
    border-radius: 2px;
    margin-right: 6px;
}

.post_footer .tags a:hover {
    color: #ffffff;
    background-color: #353535;
}

.prev-next {
    display: inline;
}

.prev-next .post-title {
    position: relative;
    margin: 0 0 35px;
    padding: 0;
}

.prev-post {
    text-align: left;
    float: left;
}

.next-post {
    text-align: right;
    float: right;
}

.prev-post .post-title,.next-post .post-title {
    display: inline-block;
    font-size: 15px;
}

.prev-post .post-title:before,.next-post .post-title:before {
    content: '';
    left: 1px;
    right: 1px;
    height: 22%;
    background-color: #404040;
    position: absolute;
    opacity: 0.23;
    top: 80%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

/*无图文章详情*/
.no_thumb {
    padding-top: 50px;
}

.no_thumb .title_cat a {
    padding: 5px 15px;
    color: #000;
    border: #111 1px solid;
    font-size: 14px;
}

.no_thumb .post_title {
    border-bottom: #0000001a 1px solid;
}


.no_thumb .title_cat h1 {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 600;
} 

.no_thumb .post_info span{
    margin-right: 10px;
    font-size: 12px;
    display: inline-block;
    position: relative;
}

.no_thumb .post_title span {
    color: #757575;
}


.post_content img {
    margin-top: 8px;
    height: auto;
    border-radius: 3px;
    text-align: center;
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 20px auto;
}

.photography {
    text-align: center;
}

/*文章评论表单*/
.comment-author-info .comment-md-3{
    float: left;
    font-size: 14px;
    color: #ccc;
    box-sizing: border-box;
    position: relative;
    margin-right: 1%;
    width: 32%;
}

.comment-author-info .comment-md-3:nth-child(2) {
    width: 33%;
}

.comment-author-info .comment-md-3:nth-child(3) {
    width: 33%;
    margin-right: 0;
}

.comment-author-info {
    display: block;
    margin-top: 20px;
}


.comment-author-info label {
    color: #888;
    font-size: 14px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


.comment-author-info .required {
    color: #ff4b33;
    font-weight: 700;
    margin-left: 3px;
}

.comment-author-info #author, .comment-author-info #mail, .comment-author-info #url {
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px 20px;
    border: 1px solid #eaeaea;
}

.comment-textarea textarea {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    width: 98%;
    padding: 10px 14px;
    float: left;
    box-sizing: border-box;
    border: #eaeaea 1px solid;
}

#comments {
    padding-bottom: 60px;
    margin-top: 40px;
}

#comments .comment-submit {
     width: 100%;
}

#comments .comment-submit .submit-left {
    float: left;
    cursor: pointer;
}

#comments .comment-submit .submit-right {
    text-align: right;
    margin-right: 2%;
}

#comments .submit {
    padding: 5px 20px;
    margin-top: 10px;
    color: #fff;
    background: #4a4a4a;
    cursor: pointer;
    outline: none;
}

#comments .comment-submit .submit-left .icon {
    width: 1.5em;
    height: 3em;
}

#comments input:focus {
    outline: 1px #111 solid;
}

#comments .comment-textarea textarea:focus {
    outline: 1px #111 solid;
}

/*文章评论列表*/
#comments li {
    list-style: none;
}


#comments .comment-author {
    height: 36px;
    padding-bottom: 5px;
    width: 100%;
}

#comments .avatar {
    float: left;
    border: 1px solid #e8e8e8;
    padding: 2px;
    border-radius: 7px;
    background-color: #FFF;
}

#comments .comment-info {
    color: #888;
    float: left;
    line-height: 16px;
    padding-left: 5px;
}

#comments .comment-info .fn, #comments .comment-info .fn a{
    font-style: normal;
    color: #1f1f1f;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

#comments .comment-info span {
    color: #999;
    font-size: 10px;
} 

#comments .comment-info span.level,#comments .comment-info span.level-1,#comments .comment-info span.level-2,#comments .comment-info span.level-3,#comments .comment-info span.level-4,#comments .comment-info span.level-5,#comments .comment-info span.level-6 {
    color: #fff;
    padding: 1px 5px;
    border-radius: 2px;
}

.level {
    background: #ff5757;
    
}

.level-1,.level-2,.level-3,.level-4,.level-5,.level-6 {
    background: #d2d2d2;
}


#comments .comment-list {
    margin: 0;
    padding: 0;
}

#comments .comment-list .comment-child {
    margin-left: 42px;
    padding: 15px 10px;
    background: #f7f7f7;
    border-bottom: #ececec 1px solid;
}

#comments .comment-list p {
    padding-left: 42px;
    font-size: 14px;
    letter-spacing: 2px;
}

#comments .comment-parent {
    padding: 15px 0;
    border-bottom: #f5f5f5 1px solid;
}

.comment-reply a {
    color: #fff;
}

.comment-reply a:hover {
     color: #111;
}

.cancel-comment-reply {
    margin-top: 10px;
}

.cancel-comment-reply a {
    background: #ff5757;
    color: #fff;
    padding: 2px 5px;
    font-size: 11px;
}

/*评论分页样式*/
 #comments .page-navigator {
 	width:100%;
 	padding: 25px 0;
 	list-style: none;
 	text-align: center;
 	font-size: 1.143em;
 }

 #comments .page-navigator li {
     display: inline-block;
     margin: 0 15px 5px 0;
 }

 #comments .page-navigator a {
     display: inline-block;
     height: 25px;
     width: 25px;
     margin-right: 2px;
     line-height: 25px;
     border-radius: 2px;
     font-size: 0.75em;
 	 background: #f8f8f8;
 }

 #comments .page-navigator a:hover {
     background: #333;
     color:#fff;
 }

 #comments .page-navigator .current a {
    background: #333;
    color: #fff;
    border-color: #111;
 }
 
 
 #comments .page-navigator li.next a, #comments .page-navigator li.prev a{
     background: #fff;
     color:#111;
 }
 
  #comments em.waiting {
    font-size: 11px;
    font-style: normal;
    color: #9a9a9a;
  }
  
  #comments .p-waiting {
    color: #ccc;
  }
  
  /*微语列表*/
  
  .mood #comments {
    margin-top: 0;
  }

  .mood .mood-content{
    margin: 20px 0;
}
  
  
.mood #comments .comment-list p {
    padding-left: 0;
    margin: 0;
    word-break: break-all;
    text-align: justify;
    color: #606975;
    line-height: 30px !important;
    position: relative;
    padding-bottom: 2px;
    font-size: 14px;
    background: -webkit-gradient( linear, left top, left bottom, from(#05241d), color-stop(2%, rgba(255, 255, 255, 0)) );
    background: -moz-repeating-linear-gradient(top,#05241d,#05241d 29px,rgba(255, 255, 255, 0) 30px);
    background: repeating-linear-gradient(top,#05241d,#05241d 29px,rgba(255, 255, 255, 0) 30px );
    -webkit-background-size: 100% 30px;
  }

.mood_date span {
    background-color: rgba(255,118,30,.15);
    color: #ff761e;
    font-size: 11px;
    padding: 2px 8px;
}

.mood_date i {
    font-size: 11px;
    margin-right: 5px;
}

.mood_content {
    margin: 15px 0 0;
}

.mood .respond {
    padding: 0 50px;
    margin-top: 30px;
}


@media screen and (min-width: 1000px) { /*兼容pro*/
    .post_content p, .page p {
            line-height: 2.5;
            font-size: 14px;
    }
    .logo {
        padding-left: 120px;
    }
    
    #comments .comment-list p {
        font-size: 12px;
        line-height: 2.2;
    }
    .post_thumb .post_info {
        padding: 20px 150px;
    }
    .post_thumb .title_cat a {
        margin: 0 150px;
    }
    .post_thumb .title_cat h1 {
        padding: 0px 150px 40px;
    }
    .post_thumb {
        background-position: center;
    }
    #comments .comment-author {
    padding-bottom: 15px;
    }
    #comments .comment-list .comment-child {
        margin-top: 15px;
    }
}

/*主题说明**/
.wxq {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
        
.wxq span {
    display: inline-grid;
    align-items: center;
    justify-items: center;
    color: rgb(114 133 159);
    line-height: 2;
    margin-right: 20px;
}
        
span img {
    width: 140px;
}