/**
 * Version: 3.5
 * Updated: 2025-03-12
 * Author: ©彼岸临窗 oneblogx.com
 *
 * 注释含命名规范，开源不易，如需引用请注明来源:彼岸临窗 https://oneblogx.com。
 * 本主题已取得软件著作权（登记号：2025SR0334142）和外观设计专利（专利号：第7121519号），请严格遵循GPL-2.0协议使用本主题。
 **/
 
/**默认主题配色**/
:root {
    --background-color: #f7f7f7;
    --color:#161616;
    --theme-color: #ff5050;/**主题色**/
    --theme-color-light: color-mix(in srgb, var(--theme-color) 70%, white 30%);/**主题色浅色**/
    --black: #121212;/**黑标题色**/
    --black-light: #161616;/**摘要\文章数据\评论者信息色**/
    --dark-grey: #757575;
    --grey: #bbbbbb;
    --bg-grey: #f9f9f9;/**框体背景色**/
    --line-grey:#ededed;
    --white: #ffffff;/**白标题色**/
    --bg-white: #ffffff;
    --red: #dd1111; /**点赞色**/
    --blue: #0b80ff;/**a链接选中色**/
    --blue-light: #467ab3;/**a链接色**/
}

/**护眼模式**/
html.protect-eye {
    background-image: none;
    --background-color: #677B6C;
    --bg-white:#4e6751;
    --black-light: #CCE8CF;
    --black: #C7EDCC;
    --color: #C7EDCC;
    --grey: #E3EDCD;
    --bg-grey:#3f4f43;
    --line-grey:#455549;
    --theme-color: #2c4d2e;
    --theme-color-light: color-mix(in srgb, var(--theme-color) 70%, white 30%);/**主题色浅色**/
    --white: #CCE8CF;
    --dark-grey: #779779;
    --red: #dda088; /**点赞色**/
    --blue: #7ed389;/**a链接选中色**/
    --blue-light: #b6d5bdb8;/**a链接色**/
}

/**护眼模式图片统一变淡**/
.protect-eye .banner-item,.protect-eye .post_preview,.protect-eye .post_content img,.protect-eye #books a,.protect-eye .book-bg {
    opacity:0.5;
}

.protect-eye .post_thumb:before,.protect-eye .page_thumb:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(28 71 35 / 50%);
}

/**首页banner特别处理**/
.protect-eye .banner-title {
    background-image: -moz-linear-gradient(180deg, rgba(0, 0, 0, .01) 0, #093c14 100%);
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, .01) 0, #093c14 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .01) 0, #093c14 100%);
}

/**主要容器边框处理**/
.protect-eye .main {
    box-shadow: rgb(30 61 20) 0px 2px, rgb(79 87 83 / 20%) 0px 3px, rgba(48, 52, 63, 0.2) 0px 7px 7px, #3f5f2f 0px 0px 0px 1px inset
}
/**护眼模式结束**/

/**全站通用**/
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color:var(--background-color);
    color:var(--color);
    font-size: 16px;
    width: 100%;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background-image: url(../img/body.jpg);
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}

/**全局输入框聚焦禁用默认样式**/
input {
    border: none;
    background: var(--bg-grey);
    color: var(--black-light);
}

input:focus {
    outline: none;
}

input:focus-within {
    border:none;
}

/**请求过程中禁止点击**/
.not-allowed {
    cursor: not-allowed !important; 
    opacity: 0.6; 
}

/**滚动条视觉优化**/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bg-grey);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--line-grey);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
}

/**————————全站通用容器 A4纸样式————————**/
.main {
   box-shadow: rgb(203, 208, 218) 0px 2px, rgba(48, 52, 63, 0.2) 0px 3px, rgba(48, 52, 63, 0.2) 0px 7px 7px, rgb(255, 255, 255) 0px 0px 0px 1px inset;
   width: 800px;
   margin:50px auto 0;
   background: var(--bg-white);
}

/**按需左右留白**/
.padding {
    padding: 0 60px; 
}

/**————————全站通用HTML标签——————————————————————————————————————————————————————————————————————————————————————————**/

a {
    text-decoration: none;
}

a:link,a:visited {
    opacity: 1;
    color: var(--black-light);
}

a:active,a:hover {
    color: var(--black);
}

h1,h2,h3,h4 {
    letter-spacing: 2px;
    font-weight: 600;
    margin: 15px 0;
    line-height: 1.5;
}

h1 {font-size: 26px;}

h2 {font-size: 24px;}

h3 {font-size: 20px;}

h4 {font-size: 18px;}

hr {
    margin: 20px 0;
    background: var(--line-grey);
    border: none;
    height: 1px;
}

p {
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2em;
    text-align: justify;
    margin-bottom: 2em;
}

/**引用样式**/
blockquote {
    position: relative;
    background: var(--bg-grey);
    padding: 30px 35px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1px;
    margin-bottom: 2em;
    color: var(--dark-grey);
    border-radius: 5px;
}

blockquote:before {
    content: "\201C";
    font-family: Arial, sans-serif;
    font-size: 4em;
    color: var(--grey);
    position: absolute;
    top: 30px;
    left: 15px;
    line-height: 0.1em;
    opacity: 0.5;
}

blockquote:after {
    content: "\201D";
    font-family: Arial, sans-serif;
    font-size: 4em;
    color: var(--grey);
    position: absolute;
    right: 15px;
    opacity: 0.5;
}

/**文章页面/独立页面内容区域a链接样式 排除图片灯箱效果**/
.post_content > p a:not(:has(img)):before {
    font-family: 'iconfont';
    content: '\e6c3';
}

.post_content > p a:not(:has(img)) {
    position: relative;
    padding-left: 3px;
    text-decoration: none;
    color: var(--blue-light);
    transition: all 0.3s ease;
    padding-right: 3px;
    word-break: break-word;
}

.post_content > p a:not(:has(img)):hover {
    color: var(--blue);
}

/**删除线**/
del {
    font-weight: 100;
    text-decoration: line-through;
}

/**粗体**/
strong {
    font-weight: bold;
}

/**斜体**/
em {
    font-style: italic;
}

/**下划线**/
u {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: var(--theme-color);
    text-decoration-thickness: 1px;
}

li {
    list-style: none;
}

/**有序列表**/
.post_content ol,.post_content ul {
    margin-bottom: 2em;
}

.post_content ol li {
    list-style: decimal;
    line-height: 1.8;
    letter-spacing: 1px;
}

.post_content ol li::marker {
    color: var(--blue-light);
}

/**无序列表**/
.post_content ul li {
    list-style: disc;
    line-height: 1.8;
    letter-spacing: 1px;
}

.post_content ul li::marker {
    color: var(--blue-light);
}

/**表格**/
table {
    margin-bottom: 2em; 
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

thead {
   background-color: var(--bg-grey);
}

th {
    font-weight: 600;
    text-align: left;
}

td,th {
    padding: 1rem;
    border: 1px solid var(--line-grey);
}

tbody tr:nth-child(even) {
  background-color: var(--bg-grey);
}

button {
    outline: none;
    border: none;
}
/**————————全站通用HTML标签 END ————————————————————————————————————————————————————————————————————————————————————————————————————**/


/**博客首页**/

/**博客LOGO区域**/

.header {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.logo {
    display: flex;
    z-index: 1;
    position: relative;
}

.logo a {
    background-position: left center;
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
}

/**顶部搜索 **/
.search {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.search-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: none; /* 默认不可点击 */
    opacity: 0.5;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--theme-color);
    color: var(--white);
}

.search .input {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 12px;
    outline: none;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    padding-right: 28px;
}

/* 搜索聚焦 */
.search .input:focus,
.search .input.has-value {
    width: 180px;
    cursor: auto;
    padding: 0 30px 0 15px;
}

/* 输入内容后启用按钮 */
.search .input:valid + .search-icon {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
}

.search .input:valid {
    padding-right: 30px;
}

/**随机一言**/
.one {
    text-align: left;
    font-size: 12px;
    letter-spacing: 2px;
    overflow: hidden;
    padding: 0 0 10px;
    margin: 20px 0;
    border-bottom: var(--line-grey) 1px solid;
}

/**搜索结果页复用**/
.one span{
    font-weight: bold;
}

/**置顶文章Banner区域**/
.banner {
    display: flex;
    margin-bottom: 30px;
}

.banner-item {
    width: 50%;
    border-radius: 10px;
    display: inline-block;
}

.banner-thumb {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
    height: 145px;
    margin-top:10px;
}

.banner-item:nth-child(1) .banner-thumb{
    height: 300px;
    margin-right: 10px;
}

.banner-title {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, .01) 5%, rgba(0, 0, 0, .75) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(0, 0, 0, .01) 5%, rgba(0, 0, 0, .75) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .65) 100%);
}

.banner-title h1 {
    font-size: 20px;
    text-shadow: 0px 1px 4px #000;
    padding: 0px 30px 5px; 
    color: var(--white);
}

/**文章列表**/
.post {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px var(--line-grey) solid;
}

.post h1 {
    font-size: 20px;
}

.post_preview {
    display: inline-flex;
    word-break: break-all;
}

.post_abstract {
    width: 150%;
    display: flex;
    align-items: center;
}

.post_img {
    display: inline;
    width: 300px;
    height: 105px;
    border-radius: 8px;
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.post_meta {
    padding: 0 0 15px;
    margin-top: 10px;
}

.post_meta span {
    float: left;
    font-size: 12px;
    margin-right: 30px;
    color: var(--grey);
}

/**点击无限加载**/
.load,.pageload{
    font-size: 14px;
    clear: both;
    display: flex;
    justify-content: center;
}

.load {
    padding: 30px 0;
    color: var(--grey);
}

.pageload {
    padding: 20px 0 30px;
    color: var(--grey);
}

.load .next,.pageload .next {
    color: var(--grey);
}

/**返回顶部**/
#gototop {
    position: fixed;
    right: calc(((100% - 800px)/2) - 50px);
    bottom: 12px;
    z-index: 999;
}

#gototop i {
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: var(--line-grey) 1px inset;
    background: var(--bg-white);
}

.hidden {
    display: none;
}

.newtotop {
    float: right;
    position: relative !important;
    bottom: 28px !important;
    clear: both;
    height: 0;
}

/**全站通用页脚**/
.footer {
    clear: both;
    max-width: 800px;
    text-align: center;
    font-size: 11px;
    padding: 60px 0 30px;
    margin: 0 auto;
}

.footer a:hover{
    font-weight: bold;
}

/**底部菜单导航**/
.navigation a{
    margin: 0 10px;
}


/**网站版权**/
.copyright {
    margin-top: 12px;
    line-height: 1.75;
    color: var(--grey);
}

.copyright a{
    color: var(--grey);
}

.copyright a:hover {
    font-weight: 500;
}




/**底部社交按钮**/
.contact {
    margin-top: 12px;
}

.contact a {
    cursor: pointer;
    margin-right: 10px;
}

.contact i {
    font-size: 20px;
}


/**搜索结果无数据+404页面*/
.nodata {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px 60px 60px;
    text-align: center;
}

.nodata img {
    width: 300px;
    opacity: 0.5;
}

.nodata span {
    letter-spacing: 2px;
    padding: 20px 0;
}

.nodata a {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 20px;
    background:var(--theme-color);
    color: var(--white);
}

/**暂无更多数据**/
.end {
    color: var(--line-grey);
    text-align: center;
    font-size: 16px;
    padding: 30px 0;
}
.end:before,.end:after{
    content: "";
    width: 35%;
    border-top: 1px var(--line-grey) solid; 
    display: inline-block;
    vertical-align: middle;
}
.end:before{
    margin-right: 10px;
}
.end:after{
    margin-left: 10px;
}

/**文章详情页**/

/**有封面图的文章详情页**/
.post_thumb {
	background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    filter: blur(10px);
}

.post_thumb .post_header {
    padding-bottom: 20px;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, .01) 5%, rgba(0, 0, 0, .75) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(0, 0, 0, .01) 5%, rgba(0, 0, 0, .75) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .65) 100%);
}

.post_thumb a {
    padding: 5px 15px;
    background: var(--bg-white);
    color: var(--black-light);
    font-size: 12px;
    border-radius: 50px;
    margin-right: 8px;
}

.post_thumb h1 {
    text-shadow: 0px 1px 4px #000;
    color: var(--white);
}

.post_thumb .post_meta span{
    margin-right: 15px;
    color: var(--white);
}

.post_content {
    word-break: break-all;
    margin-top: 2em;
}

.post_content img {
    height: auto;
    border-radius: 3px;
    text-align: center;
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 20px auto;
}

/**文章版权声明**/
.cc-say {
    font-size: 13px;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 2;
    text-align:justify;
    background: var(--bg-grey);
    color: var(--grey);
}

.cc-say span {
    font-weight: 600;
}

/**文章标签**/
.tags {
    max-width: 100%;
    font-size: 11px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.tags a {
    text-decoration: none;
    color: var(--grey);
    background-color: var(--bg-grey);
    padding: 5px 10px;
    border-radius: 2px;
    margin: 0 8px 8px 0;
    word-break: keep-all;
}

.tags a:hover {
    color: var(--bg-white);
    background-color: var(--black-light);
    transition: all 0.4s ease;
}


/**无封面图的文章详情页**/
.post_nothumb {
    padding-top: 50px;
}

.post_nothumb .post_meta {
    border-bottom: var(--line-grey) 1px solid;
    display: flex;
    align-items: center;
}

.post_nothumb .post_meta span {
    margin-right: 0;
    border-right: 1px solid var(--bg-grey);
    padding: 0 15px;
    color: var(--dark-grey);
}

.post_nothumb .post_meta span:first-child {
    padding-left: 0;
}

.post_nothumb .post_meta span:last-child {
    border-right: 0;
    padding-right: 0;
}

/**默认独立页面**/
.page_thumb {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: flex-end;
}

.page_thumb .logo img {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.slogan h1 {
    font-size: 1.3em;
    line-height: 1.3;
    text-align: left;
    margin: 0 0 5px 0;
    text-shadow: 2px 2px 3px #000;
    color: var(--white);
}

.slogan span {
    text-shadow: 2px 2px 2px #000;
    font-size: 14px;
    color: var(--white);
}

.page_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.page_title h1 {
    margin: 0 0 6px 0;
    display: inline-block;
    position: relative;
    font-size: 24px;
}

.page_title h1:before {
    content: '';
    left: 1px;
    right: 1px;
    height: 52%;
    background-color: var(--theme-color);
    position: absolute;
    opacity: 0.15;
    top: 70%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}


/**微语页面**/

.memos-btn button {
    border: none;
    padding: 5px 16px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    background: var(--black-light);
    color: var(--bg-white);
    z-index: 1;
    position: relative;
}

/**登录弹框样式开始**/

.layui-memos {
    max-width: 420px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 10px !important;
    -webkit-background-clip: unset !important;
}

.layui-memos .layui-layer-setwin{
    right: 20px;
    top: 20px;
}

.layui-memos .layui-layer-title {
    font-weight: 600;
    background-color: #fff;
    border-bottom: none;
    font-size: 16px;
    height: auto;
}
  
.memos-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg-white);
    padding: 20px 30px;
    border-radius: 10px;
}

.memos-form h3{
    margin: 0 0 20px;
    font-size: 20px;
    letter-spacing: 2px;
}


.memos-form .flex-column > label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
}

.memos-form .inputForm {
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
    margin-bottom: 10px;
    background: var(--bg-grey);
}

.memos-form .input {
    margin-left: 10px;
    width: 85%;
    height: 30px;
}

/* 覆盖所有自动填充及焦点状态 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-grey) inset;
    box-shadow: 0 0 0px 1000px var(--bg-grey) inset;
    -webkit-text-fill-color: var(--grey);
}

#toggle-password {
    cursor: pointer;
    color: var(--grey);
}

.memos-form .button-submit {
    margin: 20px 0 10px 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    background: var(--black-light);
    color: var(--bg-white);
}
/**登录弹框结束**/

/**微语列表**/
.memos {
    padding: 40px 60px 10px;
}

/**评论列表区域通用**/
.respond {
    padding-bottom: 30px;
}

.line {
    height: 1px;
    background: var(--line-grey);
    margin-bottom: 20px;
}

h3.oneblog {
    position: relative;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h3.oneblog i{
    font-size: 20px;
    font-weight: 100;
    margin-right: 2px;
    color: var(--theme-color-light);
}

h3.oneblog span{
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 20px;
    margin-left: 5px;
    background: var(--bg-grey);
    color: var(--grey);
}


/**评论输入框通用**/
.comment-author-info {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.comment-md-3{
    display: inline-grid;
    width: 32%;
    margin-right: 2%;
}

.comment-md-3:nth-child(3) {
    margin-right: 0;
}

.comment-md-3 label {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    color: var(--dark-grey);
}

.comment-md-3 .required {
    color: #ff4b33;
    font-weight: 700;
    margin-left: 3px;
}

.comment-md-3 .text {
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 2px;
}

textarea {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1px;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 2px;
    outline: none;
    margin-bottom: 10px;
    height: 120px;
    background: var(--bg-grey);
    color: var(--black-light);
}

/**评论提交**/
.comment-submit{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.emoji,.submit{
    cursor: pointer;
}

/**表情按钮**/
.emoji i{
    font-size: 20px;
    color: var(--dark-grey);
}

.submit {
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 3px;
    transition: 0.4s ease;
    opacity: 0.7;
    background: var(--theme-color);
    color: var(--white);
}

.submit:hover {
    opacity: 1;
}

/**表情选区**/
/* Webkit 浏览器（Chrome、Safari、Edge）的滚动条样式 */
.emoji-container::-webkit-scrollbar {
    height: 10px; /* 滚动条高度 */
    width: 3px;
}

.emoji-picker {
    position: absolute;
    border: 1px solid var(--line-grey);
    padding: 10px;
    margin-top: 5px;
    max-width: 285px;
    max-height: 300px;
    overflow: hidden;
    z-index: 1000;
    display: none;    
    margin-bottom: 20px;
    background: var(--bg-white);
}

.emoji-categories {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--line-grey);
    padding-bottom: 10px;
}

.emoji-category {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 12px;
    margin-right: 5px;
    color: var(--black-light);
}

.emoji-category.active {
    padding: 2px 8px;
    border-radius: 2px;
    font-weight: bold;
    background: var(--theme-color);
    color: var(--white);
}

.emoji-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; 
    max-height: 170px; 
    background: var(--bg-grey);
}

.emoji-container img {
    width: 32px;
    height: 32px;
    margin: 5px;
    cursor: pointer;
}

.kaomoji {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bg-white);
    margin: 3px;
    text-align: center;
}

/**评论回复**/
li .respond {
    margin-left: 50px;
    margin-bottom: 20px;
}

.comment-list {
    padding: 0;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user .avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid var(--bg-grey);
    padding: 2px;
    border-radius: 7px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user .name {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    margin-bottom: 3px;
    align-items: center;
}

/**评论审核中**/
.waiting {
    color:var(--grey);
}

/**评论等级样式**/
.level{
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 10px;
    margin: 2px 3px 0;
    background: var(--bg-grey);
    color: var(--grey);
}

/**博主标签**/
.owner {
    background: var(--theme-color);
    color: var(--white);
}

/**视觉默认隐藏回复按钮**/
.comment-reply a {
    color: var(--bg-white);
    transition: 0.4s all ease;
    font-weight: bold;
}

.comment-reply a:hover {
     color: var(--black);
}

.cancel-comment-reply {
    margin: 10px 0;
}

.cancel-comment-reply a {
    background: var(--theme-color);
    color: #ffffff;
    padding: 2px 5px;
    font-size: 11px;
    border-radius: 2px;
}

.user .date {
    font-size: 12px;
    font-weight: 100;
    color: var(--dark-grey);
}

.comment-list li {
    padding: 20px 0;
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: initial;
    border-bottom: 1px solid var(--line-grey);
}

.comment-list li:last-child {
    border-bottom: none;
}

.comment-list p {
    margin-left: 50px;
    font-size: 14px;
    margin-bottom: 0;
}

/**表情图片适配**/
.comment-list p img{
    vertical-align: top;
    width: 26px;
    height: 26px;
}

/**子级评论列表**/
li.comment-child {
    margin-left: 50px;
    padding: 15px 10px 10px;
    border-bottom: var(--line-grey) 1px solid;
    background: var(--bg-grey);
}

li.comment-child:first-child {
    margin-top:15px;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

li.comment-child:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    padding-bottom: 20px;
}

.commentLike {
    margin-left: 50px;
    font-size: 14px;
    margin-top: 10px;
}

.commentLike i {
    font-size: 20px;
    margin-right: 5px;
    color: var(--red);
}

.commentLike a {
    display: flex;
    align-items: center;
    width: fit-content;
}

/**自动加载更多评论**/

/*评论列表隐藏分页显示*/
#comments .page-navigator {
     display: none;
 }
 
#no-more {
    letter-spacing: 2px;
    line-height: 2; 
}

/**加载中动画**/

#loading-spinner {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 30px 0;
    color: var(--grey);
}

.spinner {
    width: 23px;
    height: 23px;
    margin-right: 8px;
    border: 4px solid var(--line-grey);
    border-top: 4px solid var(--grey);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**评论列表结束***/

/**友情链接页面**/
.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 15px; 
}

.links li {
    list-style: none;
    overflow: hidden;
    max-width: 280px;
    box-sizing: border-box;
}

.link a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.link a img {
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    border: 5px var(--bg-grey) solid;
}

.link-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.link-info h3 {
    margin: 0 0 5px 0;
    font-size: 15px;
    font-weight: 600;
}

.link-info span {
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 200px;
}

.link-request {
    margin: 40px 0 15px 0;
}

.link-request span{
    font-size: 18px;
    color: var(--theme-color-light);
}

/**归档页面**/
.archives h3{
    margin: 20px 0;
    letter-spacing: 1px;
    padding-top: 20px;
}

.archives h3 span {
    margin-right: 3px;
    color: var(--theme-color-light);
}

.archives li {
    list-style: none;
    font-size: 14px;
    margin: 10px 22px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    border-bottom: 1px var(--line-grey) solid;
}

.archives li a {
    display: flex;
}

.archives li span {
    font-weight: 100;
    min-width: 70px;
    margin-right: 5px;
}

.archives .tags{
    margin: 10px 22px;
}

/**书单列表页**/
#books {
    display: flex;
    flex-flow: row wrap; 
    padding: 0 20px;
}

.book {
    margin-right: 15px;
    margin-bottom: 15px;
}

.book:nth-child(6n){
    margin-right: 0px;
}

.book-thumb {
    width: 93px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.book-name {
    text-align: center;
    font-size: 11px;
    white-space: nowrap;
    margin: 10px auto;
    overflow: hidden;
    max-width: 93px;
    text-overflow: ellipsis;
}

/**书单详情页**/
.book-bg {
    position: relative;
    padding: 60px 100px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.book-bg:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter: blur(20px);
    -webkit-filter:blur(20px);
    -moz-filter:blur(20px);
    -ms-filter:blur(20px);
    -o-filter:blur(20px);
    background-size: cover;
}

.book-bg .book-thumb {
    position: relative;
    box-shadow: 1px 1px 2px 0px #00000070;
    margin-right: 2em;
}


.book-info {
    letter-spacing: 2px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 400px;
    color: var(--white);
}

.book-info h2 {
    text-shadow: 2px 2px 0px #1f1f1f;
    margin: 0;
}

.book-info span {
    margin-top: 10px;
    text-shadow: 1px 1px 0px #1f1f1f;
}

/**书籍详情页选项卡切换**/
.bookinfo {
    /**初始隐藏书籍简介，避免屏幕闪烁**/
    display: none;
}

.bookinfo .about {
    margin: 30px 0 40px;
    font-size: 14px;
    padding: 30px;
}

.bookinfo p:last-child{
    margin-bottom: 0;
}

.book-tab {
    padding: 20px 100px;
}

.tab-item {
    display: flex;
}


.tab-item a {
    padding: 8px 15px;
    font-size: 14px;
    margin-right: 10px;
}

.tab-item .selected {
    border: var(--bg-grey) 1px solid;
    box-shadow: #1f1f1f 2px 2px;
    border-radius: 100px;
}

/**读书笔记输入框间距调整**/
.booknote .respond{
    margin: 30px 0;
}

/**读书笔记列表**/
.booknote li {
    border: var(--line-grey) 1px solid;
    box-shadow: 1px 1px 0 -1px var(--color);
     -moz-border-radius-bottomleft: 20px 500px;
    -moz-border-radius-bottomright: 500px 30px;
    -moz-border-radius-topright: 5px 100px;
    -webkit-border-bottom-left-radius: 20px 500px;
    -webkit-border-bottom-right-radius: 500px 30px;
    -webkit-border-top-right-radius: 5px 100px;
    border-bottom-left-radius: 20px 500px;
    border-bottom-right-radius: 500px 30px;
    border-top-right-radius: 5px 100px;
    padding: 30px 62px;
    margin: 40px 0;
    color: var(--black-light);
}

.booknote li:last-child {
    margin-bottom: 0;
}

.booknote p{
    margin: 0;
    padding-left: 0 !important;
    word-break: break-all;
    text-align: justify;
    line-height: 30px !important;
    position: relative;
    padding-bottom: 20px;
    font-size: 14px;
    background: -webkit-gradient( linear, left top, left bottom, from(#05241d), color-stop(2%, rgba(255, 255, 255, 0)) );
    background: -moz-repeating-linear-gradient(top,#05241d,#05241d 29px,rgba(255, 255, 255, 0) 30px);
    -webkit-background-size: 100% 30px;
}

.booknote li span {
    text-align: right;
    font-size: 11px;
    display: block;
}

/**书单全部结束**/

/**相册列表**/

/**同步照片按钮**/
#updateBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.5s ease; 
    background: var(--bg-grey);
    color: var(--dark-grey);
}

#updateBtn i{
    margin-right: 8px; 
}

#updateBtn:hover {
    background-color: var(--theme-color); 
    color: var(--white); 
}

/**照片列表**/
#photos {
    display: flex;
    flex-flow: row wrap;
}

.photo {
    width: 168px;
    height: 168px;
    border: 1px solid var(--bg-white);
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    border-radius: 0;
}

.photo img:hover {
    opacity:1;
}

.image-shadow {
    position: relative;
    background: var(--bg-white);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.image-shadow:hover {
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.blur img:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -moz-box-shadow: 0 3px 10px #888;
    -webkit-box-shadow: 0 3px 10px #888;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}

/**同步照片加载动画**/
.Syncing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

.Syncing span {
    margin-top: 10px; 
    margin-bottom: 0; 
    color: #fff;
}

/**作品同步中转圈动画**/
.loader {
  width: 50px;
  display: grid;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-mask: radial-gradient(50% 50%, #0000 calc(99% - 10px), #000 calc(101% - 10px));
  animation: r 4s linear infinite;
  margin: 0 auto;
}

.loader:before {
  content: "";
  background: conic-gradient(from 25deg, #f8a201 25%, #fa2402 0 50%, #fdb3b0 0 75%, #02dde1 0);
  -webkit-mask: repeating-conic-gradient(#0000 0 25deg, #000 23% 25%), radial-gradient(5px at 5px 50%, #000 97%, #0000) left/calc(100% - 2 * 5px) 100% repeat-x, radial-gradient(5px at 50% 5px, #000 97%, #0000) top /100% calc(100% - 10px) repeat-y;
}

@keyframes r {
  to {
    transform: rotate(360deg);
  }
}

/**同步照片弹框皮肤**/
.oneblog-unsplash-loading {
    max-width: 320px;
    height: 140px;
    border-width: 1px;
    border-color: rgb(0 0 0);
    border-radius: 1rem !important;
    background-color: #000000 !important;
    padding: 1rem !important;
    -webkit-background-clip: unset !important;
}

/**同步完成的弹框皮肤**/
.oneblog-unsplash-loaded {
    max-width: 320px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem !important;
    background-color: var(--bg-white) !important;
    padding: 1rem !important;
    -webkit-background-clip: unset;
}

.oneblog-unsplash-loaded .layui-layer-setwin{
    right: 20px;
    top: 20px;
}

.oneblog-unsplash-loaded .layui-layer-title {
    font-weight: 600;
    color: var(--black-light);
    background-color: var(--bg-white) !important;
    border-bottom: none;
    font-size: 16px;
    height: auto;
}

.oneblog-unsplash-loaded .layui-layer-content{
    height: auto !important;
    max-height: 450px;
}

.oneblog-unsplash-loaded .layui-layer-btn {
    text-align: center;  
}

.oneblog-unsplash-loaded .layui-layer-btn a {
    text-decoration: none;
    display: block;  
    border-radius: 0.5rem;
    width: 100%;  
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    background-color: var(--blue);
    color: var(--bg-white);
    height: auto;
    margin: 0 auto;  
    border: none;
    box-sizing: border-box; 
}

/**相册列表结束**/

/**相册详情页**/
.post_meta a{
    padding: 0;
    border: none;
    font-size: 12px;
    color: var(--dark-grey);
}


/**右键菜单自定义效果**/
.NZ-Menu {
	padding: 10px 0 10px 0;
	margin: 0;
	border-radius: 2px;
	position: absolute;
	z-index: 10005;
	background: var(--bg-white);
	list-style: none;
	box-shadow: 0 1.5px 4px rgba(0,0,0,0.24),0 1.5px 6px rgba(0,0,0,0.12);
	box-sizing: initial
}

.NZ-Menu li {
    display: flex;
    align-items: center;
    justify-content: center;
	max-width: 360px;
	padding: 12px 35px 12px 20px;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 14px;
    color: var(--black-light);
	transition: all .2s .15s;
	user-select: none;
	position: relative;
	cursor: pointer;
}

.NZ-Menu li.hoverlayer {
	padding: 0;
	margin: 0;
	background-color: var(--bg-grey);
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	pointer-events: none;
	transition: all .3s ease-in-out;
	transition-delay: .01s
}

.NZ-Menu li.item-icon {
	padding-left: 48px
}

.NZ-Menu li>i {
    margin-top: 1px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: 25px;
}

.NZ-Menu-motion {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes NZ-Menu-showmenu {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes NZ-Menu-showmenu {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
}

.NZ-Menu-showmenu {
	-webkit-animation-name: NZ-Menu-showmenu;
	animation-name: NZ-Menu-showmenu
}

@-webkit-keyframes NZ-Menu-hidemenu {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px)
	}
}

@keyframes NZ-Menu-hidemenu {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px)
	}
}

.NZ-Menu-hidemenu {
	-webkit-animation-name: NZ-Menu-hidemenu;
	animation-name: NZ-Menu-hidemenu
}

@-webkit-keyframes NZ-Menu-showitem {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes NZ-Menu-showitem {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}

.NZ-Menu-showitem {
	-webkit-animation-name: NZ-Menu-showitem;
	animation-name: NZ-Menu-showitem
}

/**右键菜单结束**/


/**代码格式化**/
pre {
    overflow-x: auto;
    margin-bottom: 30px;
}

pre code{
    display:block;
    overflow-x:auto;
    padding:1em;
    filter: blur(5px);
    transition: filter 0.4s ease;
    color: #ffffff;
    border-radius: 6px;
}

/* Webkit 浏览器（Chrome、Safari、Edge）的滚动条样式 */
pre code::-webkit-scrollbar {
    height: 10px; /* 滚动条高度 */
}

pre code::-webkit-scrollbar-track {
    background: #2d2d2d; /* 滚动条轨道背景 */
    border-radius: 5px;
}

pre code::-webkit-scrollbar-thumb {
    background: #888; /* 滚动条滑块颜色 */
    border-radius: 5px;
    border: 2px solid #2d2d2d; /* 滑块边框 */
}

pre code::-webkit-scrollbar-thumb:hover {
    background: #aaa; /* 鼠标悬停时滑块颜色 */
}

/**高亮后的样式**/
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#23241f;color:#f8f8f2}.hljs-subst,.hljs-tag{color:#f8f8f2}.hljs-emphasis,.hljs-strong{color:#a8a8a2}.hljs-bullet,.hljs-link,.hljs-literal,.hljs-number,.hljs-quote,.hljs-regexp{color:#ae81ff}.hljs-code,.hljs-section,.hljs-selector-class,.hljs-title{color:#a6e22e}.hljs-strong{font-weight:700}.hljs-emphasis{font-style:italic}.hljs-attr,.hljs-keyword,.hljs-name,.hljs-selector-tag{color:#f92672}.hljs-attribute,.hljs-symbol{color:#66d9ef}.hljs-class .hljs-title,.hljs-params,.hljs-title.class_{color:#f8f8f2}.hljs-addition,.hljs-built_in,.hljs-selector-attr,.hljs-selector-id,.hljs-selector-pseudo,.hljs-string,.hljs-template-variable,.hljs-type,.hljs-variable{color:#e6db74}.hljs-comment,.hljs-deletion,.hljs-meta{color:#75715e}


/* 懒加载动画样式 */
.lazy-load {
    background-color: var(--line-grey);
    -webkit-transition: .5s ease-in-out opacity;
    transition: .5s ease-in-out opacity;
    filter: blur(35px);
    -webkit-mask: radial-gradient(circle at center, white 100%, transparent 100%);
    mask: radial-gradient(circle at center, white 100%, transparent 100%);
}

.loaded {
    filter: blur(0px);
    opacity: 1;
    transition: .5s filter linear, .5s -webkit-filter linear;
}
/* 懒加载结束 */

/**护眼模式开关**/
.switch {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 10px;
}

.switch span {
    margin-right: 5px;
}

#oneblog-protect {
    display: none;
}

.switchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30px;
    height: 15px;
    background-color: var(--grey);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
}

.switchBtn::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    left: 0;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
}

#oneblog-protect:checked + .switchBtn::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: white;
}

#oneblog-protect:checked + .switchBtn {
    background-color: #3f5f2f;
    transition-duration: .2s;
}

/**护眼模式开关结束**/






/***©彼岸临窗 oneblogx.com 版权所有 侵权必究 **/