/**
**copyright ONEBLOG ©鲁子阳 V3.3
**/
/*通用*/

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #111;
}

.line {
    margin: 0 90px;
    border-bottom: solid 1px #eaeaea;
}

.no-scroll {
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
        pointer-events:none; 
}

.noscroll {
    height:100%;
    overflow:hidden;
}

/**阿里巴巴彩色图标默认样式**/
.icon {
    width: 1.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.end {
    color: #ececec;
    text-align: center;
    font-size: 16px;
    padding: 30px 0;
}
.end:before,.end:after{content: "";width: 35%;border-top: 1px #F9F9F9 solid; display: inline-block;
vertical-align: middle;}
.end:before{margin-right: 10px;}
.end:after{margin-left: 10px;}


/**轮播指示器**/
.swiper-pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #ccc;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

/*404页面*/
.content-404 {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.img-404 {
    width: 260px;
    height: 260px;
    background: url("../img/404.svg") no-repeat center center;
    margin: 30px auto 20px;
    background-size: contain;
}

.caption-404 {
    height: 42px;
    font-size: 18px;
    color: #bdbdbd;
    letter-spacing: 1px;
    margin: 20px;
    text-align: center;
}

.content-404 a {
    background: #ffa823;
    color: #ffffff;
    padding: 3px 20px;
    font-size: 14px;
    transition: all 0.5s ease;
    border-radius: 2px;
}

.content-404 a:hover {
    background: #ff8a00;
}


/*菜单*/
.top-nav {
    float: left;
}

.top-nav .nav {
    width: 50%;
    color: #fff;
    padding: 20px;
    text-align: left;
}

.top-nav .nav i {
    font-size: 2em;
}

.sidebarClass {
    position: fixed;
    left: -50%;
    width: 50%;
    height: 100%;
    z-index: 99999999;
    transition: width 0.5s;
    background: #383838;
    color: #fff;
    text-align: center;
}

.sidebarClass .right-show a {
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
}

.addWidth {
    width: 100%;  
    height: 100%;
}

.right-show {
    width: 50%;
    float: right;
    height: calc(100% - 50px);
}

.nav-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 50%;
    overflow: hidden;
}

.nav-footer span, .nav-footer a{
    color: #777;
    font-size: 11px;
}

.nav-footer span {
    display: block;
    margin-bottom: 10px;
}

.nav-footer span:first-child {
    font-weight: 600;
}

.nav-footer span:last-child {
    font-style: oblique;
}


#close-nav {
    float: right;
}

#close-nav i{
    font-size: 1em;
}

.sidebarClass .close {
    padding: 20px;
    margin-bottom: 30px;
}

.sidebarClass ul{
    margin: 10px 0;
    display: contents;
    list-style: none;
}

.sidebarClass ul li {
    margin: 30px 0;
}

.sidebarClass ul li a{
    padding: 10px 0;
    padding-bottom: 10px;
    border-bottom: #777 1px solid;
}

.sidebarClass ul li i {
    margin-right: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    font-size: 11px;
    width: 50%;
}

/*文章列表*/

/* 移动端懒加载样式 */
.lazy-load {
    background-image: url(../img/body.jpg); /* 默认背景图 */
    -webkit-transition: .5s ease-in-out opacity;
    transition: .5s ease-in-out opacity;
    filter: blur(35px);
    -webkit-mask: radial-gradient(circle at center, white 100%, transparent 100%);
    mask: radial-gradient(circle at center, white 100%, transparent 100%);
    width: 100%; /* 根据需求调整 */
    border-radius: 3px; /* 圆角效果 */
    overflow: hidden; /* 裁剪溢出的模糊部分 */
}

.post_thumb {
    filter: blur(10px);;
}


.loaded {
    filter: blur(0px);
    opacity: 1;
    transition: .5s filter linear, .5s -webkit-filter linear;
}

/***懒加载结束**/

.post {
    width: 100%;
    height: 100%;
    top: 0;
}

.post_thumb {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
    border-radius: 0;
    width: 100%;
    object-fit: cover;
}


.triangle-bottom-right {
    float: right;
    height: 50px;
    border-bottom: 200px solid rgba(6, 3, 3, 0.12);
    border-left: 100px solid rgba(152, 152, 152, 0);
    overflow: hidden;
    margin-left: 200px;
}

p.post_date {
    position: absolute;
    right: 15px;
    bottom: 0;
    color: #fff;
    display: grid;
}

.post_date span.post_date_day {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}


.post_date span.post_date_year {
    margin-top: 10px;
    font-size: 10px;
}

.post_category,.post_author,.post_title{
    text-align: center;
    padding: 0 80px;
}

.post_title h2 a {
    font-size: 24px;
    color: #111;
}

.post_title span {
    font-size: 12px;
    color: #9a9a9a;
    padding: 0 10px;
}


.post_title span.post_comment {
    border-left: #dadada 1px solid;
}

.post_category a {
    padding: 5px 8px;
    background: #de8500;
    color: #fff;
    font-size: 12px;
}


.post_abstract {
    padding: 10px 50px;
    letter-spacing: 2px;
    line-height: 2;
    text-align:justify;
}

.post_author {
    margin: 20px 0;
}

/*有图文章详情*/

.post_content {
    padding: 10px 30px;
    letter-spacing: 2px;
    line-height: 2;
    text-align:justify;
}

/**引用文字样式**/

.post_content blockquote{
    background: #fff8ed;
    margin: 0;
    font-size: 14px;
    letter-spacing: 2;
    line-height: 1.7;
    padding: 20px 20px 0;
}

.post_content blockquote p {
    margin: 0 !important;
    padding-left: 0 !important;
    word-break: break-all;
    text-align: justify;
    color: #606975;
    line-height: 30px !important;
    position: relative;
    padding-bottom: 30px;
    font-size: 14px;
    background: -webkit-gradient( linear, left top, left bottom, from(#05241d), color-stop(2%, rgba(255, 255, 255, 0)) );
    background: -moz-repeating-linear-gradient(top,#05241d,#05241d 29px,rgba(255, 255, 255, 0) 30px);
    background: repeating-linear-gradient(top,#05241d,#05241d 29px,rgba(255, 255, 255, 0) 30px );
    -webkit-background-size: 100% 30px;
}

.cc-say {
    padding: 10px 20px;
    font-size: 12px;
    background: #afafaf1a;
    color: #909090ed;
    letter-spacing: 1px;
    line-height: 2;
    margin: 0 30px 30px;
    text-align: justify;
}

.post_footer {
    padding: 0px 30px;
}

.post_footer .tags a {
    text-decoration: none;
    color: #bbb;
    background-color: #f9f9f9;
    padding: 6px 10px;
    border-radius: 2px;
    font-size: 12px;
    margin-right: 6px;
    line-height: 3;
    word-break: keep-all;
}

.post_footer .tags a:hover {
    color: #ffffff;
    background-color: #353535;
}

/*上下篇*/

.youlike {
    font-size: 14px;
    margin: 20px 0;
    color: #6b4000;
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.youlike:before {
    content: '';
    left: 16px;
    right: 1px;
    height: 22%;
    background-color: #6b4000;
    position: absolute;
    opacity: 0.23;
    top: 80%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.relation{
        margin-top: 30px;
}

.relate-post {
    height: 100px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.relate-post h2 {
    line-height: 100px;
    color: #fff;
    font-size: 20px;
    margin: 0;
    left: 0;
    right: 0;
    padding: 0 30px;
    bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.63) 100%);
    background-image: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.63) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0, rgba(0, 0, 0, 0.63) 100%);
}


/*文章评论表单*/
#comments {
    padding:0px 30px;
    margin-top: 20px;
}

.comment-author-info .comment-md-3{
    float: left;
    font-size: 12px;
    color: #ccc;
    box-sizing: border-box;
    position: relative;
    margin-right: 10px;
    width: calc(calc(100%/2) - 5px);
}

.comment-author-info .comment-md-3:nth-child(2) {
    margin-right: 0;
}

.comment-author-info .comment-md-3:nth-child(3) {
    display: none;
}

.comment-textarea textarea {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1px;
    width: 100%;
    padding: 10px 14px;
    float: left;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    background: #f9f9f9;
}

#comment-form input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px 14px;
    outline: none!important;
    box-shadow: none!important;
    font-size: 14px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    box-sizing: border-box;
    border: none;
    background: #f9f9f9;
    border-radius: 2px;
}



.comment-author-info label {
    color: #888;
    font-size: 14px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}


.comment-author-info .required {
    color: #ff4b33;
    font-weight: 700;
    margin-left: 3px;
}

#comments .comment-submit {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}



#comments .submit {
    padding: 5px 20px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    font-size: 13px;
    border-radius: 3px;
    color: #6b6b6b;
    background: #ffe1a0;
    cursor: pointer;
    border: none;
    transition: 0.4s ease;
}

#comments .comment-submit .submit-left {
         margin-top: 10px;
}

#comments .comment-submit .submit-left .iconfont {

 font-size: 22px;

}

/**评论表情支持**/

/**表情选区**/
/* Webkit 浏览器（Chrome、Safari、Edge）的滚动条样式 */
.emoji-container::-webkit-scrollbar {
    height: 10px; /* 滚动条高度 */
    width: 3px;
}

.emoji-container::-webkit-scrollbar-track {
    background: #f6f6f6; /* 滚动条轨道背景 */
    border-radius: 5px;
}

.emoji-container::-webkit-scrollbar-thumb {
    background: #e6e6e6; /* 滚动条滑块颜色 */
    border-radius: 5px;
}

.emoji-container::-webkit-scrollbar-thumb:hover {
    background: #dedede; /* 鼠标悬停时滑块颜色 */
}


.emoji-picker {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    margin-top: 5px;
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;
    z-index: 1000;
    display: none;    margin-bottom: 20px;
}

.emoji-categories {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 10px;
}

.emoji-category {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 12px;
    margin-right: 5px;
    color: #333;
}

.emoji-category.active {
    background: #ffae00;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 2px;
    font-weight: bold;
}

.emoji-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; 
    max-height: 170px; 
    background: #f7f7f7;
}

.emoji-container img {
    width: 32px;
    height: 32px;
    margin: 5px;
    cursor: pointer;
}

.kaomoji {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    margin: 3px;
    text-align: center;
}


#emoji-btn {
    font-size: 20px;
    color: #616161;
}


#comments input:focus {
    outline: none;
}

#comments .comment-textarea textarea:focus {
    outline: none;
}

 #comment-form {
     padding-bottom: 40px;
 }

/*文章评论列表*/
/**加载中动画**/
#loading-spinner {
    justify-content: center;
    align-items: center;
    color: #b5b5b5;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px 0;
}

.spinner {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #cbcbcb;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.inline {
    height: 1px;
    margin: 20px 0;
    background: #f3f3f3;
}

#comments h3 span{
    font-size: 10px;
    background: #f1f1f1;
    padding: 2px 8px;
    color: #9f9f9f;
    border-radius: 20px;
    margin-left: 5px;
}

#comments li {
    list-style: none;
}

#comments .comment-list p img{
    vertical-align: middle; 
    width: 32px;
    height: 32px; 
}


#comments .comment-author {
    height: 36px;
    padding-bottom: 5px;
    width: 100%;
}

#comments .avatar {
    float: left;
    border: 1px solid #e8e8e8;
    padding: 2px;
    border-radius: 7px;
    background-color: #FFF;
    width: 31px;
}

#comments .comment-info {
    color: #888;
    float: left;
    line-height: 16px;
    padding-left: 5px;
}

#comments .comment-info .fn, #comments .comment-info .fn a{
    font-style: normal;
    color: #1f1f1f;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
}

#comments .comment-info span {
    color: #999;
    font-size: 10px;
} 

#comments .comment-info span.level,#comments .comment-info span.level-1,#comments .comment-info span.level-2,#comments .comment-info span.level-3,#comments .comment-info span.level-4,#comments .comment-info span.level-5,#comments .comment-info span.level-6 {
    color: #fff;
    padding: 1px 5px;
    border-radius: 2px;
    vertical-align: middle;
}

.level {
    background: #ff5757;
    
}


.level-1 {
    background: #d2d2d2;
}

.level-2,.level-3{
    background: #757575;
}

.level-4,.level-5 {
    background: #ff8839;
}

.level-6 {
    background: #ff0505;
}


#comments .comment-list {
    margin: 0;
    padding: 0;
}

#comments .comment-list .comment-child {
    margin-left: 42px;
    padding: 15px 10px;
    background: #f7f7f7;
    border-bottom: #ececec 1px solid;
}

#comments .comment-list p {
    padding-left: 42px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 2;
    word-break: break-all; 
}

#comments .comment-parent {
    padding: 15px 0;
    border-bottom: #f5f5f5 1px solid;
}

.comment-reply a {
    color: #fff;
}

.comment-reply a:hover {
     color: #111;
}

.cancel-comment-reply {
    margin-top: 10px;
}

.cancel-comment-reply a {
    background: #ff5757;
    color: #fff;
    padding: 2px 5px;
    font-size: 11px;
}

/*评论列表隐藏分页显示*/
 #comments .page-navigator {
     display: none;
 }
 
/**评论列表暂无更多数据样式**/
.center {
     display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中，如果需要 */
    margin-top: 15px;
}

#no-more-comments {
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 2;
}

  #comments em.waiting {
    font-size: 11px;
    font-style: normal;
    color: #9a9a9a;
  }
  
  #comments .p-waiting {
    color: #ccc;
  }
  
  #comments .p-waiting span {
    padding-left: 42px;
    font-size: 14px;
    display: block; 
    }
  
  #comments h3 {
    position: relative;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    letter-spacing: 1px;
  }
  
  #comments h3 svg {
    margin-right: 2px;
}
  
  
 /*通用文章列表*/
 
 .post_all {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px #f1f1f1 solid;
    margin: 0 30px;
 }
 
 .post_all .post_abstract {
     padding: 0;
 }
 
 .post_title_all {
    padding-bottom: 6px;
}

.post_title_all h2 {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    color: #1F1F1F;
    margin: 0 0 6px 0;
}

.post_title_all a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #1F1F1F;
    font-size: 18px;
    line-height: 28px;
}

.post_title_all span {
    color: rgba(0,0,0,.44);
    font-size: 12px;
}

.post_preview_all {
    display: inline-flex;
    word-break: break-all;
}

.post_preview_all p {
    padding-bottom: 0!important;
    letter-spacing: 2px;
    line-height: 2em;
    margin: 0;
    font-size: 14px;
    color: #222;
}

  
.post_preview_all .post_abstract {
    width: 150%;  
}

.post_preview_all .post_img {
    display: inline;
    width: 220px;
    height: 80px;
    border-radius: 3px;
    margin-left: 10px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
}

.post_meta_all {
    padding: 10px 0 0;
    max-width: 100%;
    color: #bbb;
}

.post_meta_all span {
    font-size: 11px;
    margin-right: 10px;
}


.post_meta_all a{
    color: #bbb;
}

.preload {
    padding: 30px 0 30px 0;
    color: #666;
    font-size: 14px;
    clear: both;
    text-align: center;
}

.preload .next {
    float: initial;
}

.preload a {
    color: #888;
    text-decoration: none;
}

.preload a:hover {
    color: #333;
}

/*通用页眉*/
.header {
    background: #FFF;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    vertical-align: middle;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 120px 30px 20px 0;
}

.header .pagetitle {
    color: #fff;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slogan h1 {
         font-size: 1.3em;
         text-align: left;
         margin: 0;
}

.top-menu {
    padding: 15px 0;
    text-align: center;
    background: #fff;
    height: 30px;
    line-height: 30px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.35);
    box-shadow: 0 2px 6px rgba(0,0,0,0.35);
    width: 100%;
    position: sticky;
    left: 0;
    top:0;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.top-menu.hide {
        box-shadow: none;
    transform: translateY(-100%);
}


.top-menu i {
    font-size: 1.5em;
}

.top-menu .nav {
    position: absolute;
    left: 30px;
}

.top-menu .top-sitename img{
    line-height: 30px;
    height: 30px;
}

.no_thumb .post {
    margin-top: 30px;
}

.no_thumb .post_category,.no_thumb .post_title {
    text-align: left;
    margin: 0 30px;
    padding: 0;
}

.no_thumb .post_category a {
    color: #2b2b2b;
    background: #fff;
    border: #969696 1px solid;
}

.no_thumb .post_title h2 a {
    font-size: 22px;
}

.no_thumb .post_title span{
    padding:0;
}

.no_thumb .post_title span.post_comment{
    border-left: none;
}

.no_thumb .post_date:after,.no_thumb .post_views:after,.no_thumb .post_comment:after {
    content: "▫";
    color: #c3c3c3;
    padding: 0 10px;
}

.no_thumb .post_title {
    border-bottom: #eaeaea 1px solid;
    padding-bottom: 20px;
}


/*摄影作品文章详情*/
.photography .post_category,.photography .post_title {
    text-align: center;
}

.post_content img {
    margin-top: 8px;
    height: auto;
    border-radius: 3px;
    text-align: center;
    max-width: 100%;
    max-height: 500px;
    display: block;
    margin: 20px auto;
}

/*微语*/
/*微语列表*/
/**登录弹框**/
.layui-layer-mood {
    max-width: 320px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 10px !important;
    -webkit-background-clip: unset !important;
    
}

.layui-layer-mood .layui-layer-setwin{
    right: 20px;
    top: 20px;
}


.layui-layer-mood .layui-layer-title {
    font-weight: 600;
    color: rgba(107, 114, 128, 1);
    background-color: #fff;
    border-bottom: none;
    font-size: 16px;
    height: auto;
}

.layui-layer-mood .layui-layer-content{
    height: auto !important;
}

.layui-layer-mood.layui-layer-btn {
    text-align: center;  /* 确保按钮居中对齐 */
}

.layui-layer-mood .layui-layer-btn a {
    text-decoration: none;
    display: block;  /* 将display设为block，使按钮占满父容器宽度 */
    border-radius: 0.5rem;
    width: 100%;  /* 设置按钮宽度为100% */
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    background-color: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
    height: auto;
    margin: 0 auto;  /* 确保按钮在父容器内居中 */
    border: none;
    box-sizing: border-box;  /* 确保padding不会影响按钮宽度 */
} 
  
/**自定义发表动态弹框皮肤**/
.layui-layer-publishmood {
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 10px !important;
    box-sizing: border-box;
    -webkit-background-clip: unset !important;
}

.layui-layer.layui-layer-page.layui-layer-publishmood {
    background-color: #ffffff;
}

.layui-layer-publishmood #comment-form {
    padding-bottom: 0;
}

.layui-layer-publishmood .layui-layer-setwin{
    right: 20px;
    top: 20px;
}


.layui-layer-publishmood .layui-layer-title {
    font-weight: 600;
    color: rgba(107, 114, 128, 1);
    background-color: #fff;
    border-bottom: none;
    font-size: 16px;
    height: auto;
    margin-top: 10px;
}

.layui-layer-publishmood .submit {
    text-decoration: none;
    display: block;  /* 将display设为block，使按钮占满父容器宽度 */
    border-radius: 5px;
    width: 100%;  /* 设置按钮宽度为100% */
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    background: #ffe1a0;
    background-image: linear-gradient(43deg, #ffe1a0 0%, #ffc444 46%, #ffbf34 100%);
    height: auto;
    margin: 0 auto;  /* 确保按钮在父容器内居中 */
    border: none;
    box-sizing: border-box;  /* 确保padding不会影响按钮宽度 */
    cursor: pointer;
}
  
 
.layui-layer-publishmood .comment-textarea textarea{
    height: 140px;
    margin-bottom: 20px;
}

.layui-layer-publishmood .comment-textarea textarea:focus-visible {
    outline: none;
}
  
  
/**登录弹框样式开始**/
  
.form#login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#login-form h3{
    margin: 0 0 5px;
    font-size: 18px;
    letter-spacing: 2px;
}
                    #login-form ::placeholder {
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }

                    #login-form .form button {
                        align-self: flex-end;
                    }

                    #login-form .flex-column > label {
                        color: #151717;
                        font-weight: 600;
                        margin-bottom: 10px;
                            font-size: 14px;
                    }

                    #login-form .inputForm {
                        border:none;
                        border-radius: 5px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        padding: 5px 10px;
                        transition: 0.2s ease-in-out;
                        background-color: #f7f7f7; /* 确保背景颜色一致 */
                        margin-bottom: 10px;
                    }

                    #login-form .input {
                        margin-left: 10px;
                        border-radius: 5px;
                        border: none;
                        width: 85%;
                        font-size: 15px !important;
                        background-color: #f7f7f7; /* 确保背景颜色一致 */
                    }
                    
                    #login-form .inputForm i.toggle-password {
                        color: #b5b5b5;
                    }

                    #login-form .input:focus {
                        outline: none;
                    }

                    #login-form .inputForm:focus-within {
                        border: none;
                    }

                   #login-form .flex-row {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        justify-content: space-between;
                    }

                   #login-form .flex-row > div > label {
                        font-size: 14px;
                        color: black;
                        font-weight: 400;
                    
                    }

                   #login-form .button-submit {
    margin: 10px 0;
    color: #ffffff;
    background: #ffe1a0;
    background-image: linear-gradient(43deg, #ffe1a0 0%, #ffc444 46%, #ffbf34 100%);
    border: none;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
                    }

                    #login-form .button-submit:hover {
                        background-color: #252727;
                    }

                    

                    /* 避免浏览器自动填充背景色不同 */
                    input:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
                        box-shadow: 0 0 0px 1000px #f7f7f7 inset;
                        -webkit-text-fill-color: #000000;
                    }
  
/**登录弹框结束**/
.login-publish-btn {
    border-radius: 50px;
}


.login-publish-btn button{
    background: #494949;
    color: #fff;
    border: none;
    padding: 5px 16px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
}

/**微语列表数据**/
.mood-author-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .mood-author {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 3px;
    }

    .mood-avatar {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .mood-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mood-date {
        font-size: 12px;
        color: #888;
    }
    
    #comments .comment-list .mood-content p {
            line-height: 2;
    color: #333333;
    margin-bottom: 10px;
    padding-left: 50px;
    }
    
    .mood-actions {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        font-size: 14px;
        margin-left: 50px;
    }
    
    .commentLike a {
    color: #dd1111;
}

.mood-actions span {
    cursor: pointer;
    color: #818181;
}

.mood-box #comments li {
    padding: 20px 20px;
    margin: 20px 0;
    border-bottom: 1px solid #efefef;
}

.mood-box #comments {
        margin: 0;
    padding: 0 10px;
}

#comments li.comment-parent:last-child,.mood-box #comments li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}








 
 
/*独立页面*/

.page_title h2 {
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    color: #1F1F1F;
    margin: 0 0 6px 0;
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
}

.page_title h2:before {
    content: '';
    left: 1px;
    right: 1px;
    height: 52%;
    background-color: #ff5757;
    position: absolute;
    opacity: 0.23;
    top: 70%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}


/**同步Unsplash照片**/
/**自定义弹框皮肤**/
.layui-layer-custom {
    max-width: 320px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    -webkit-background-clip: unset !important;
}

.layui-layer-custom .layui-layer-setwin{
    right: 20px;
    top: 20px;
}


.layui-layer-custom .layui-layer-title {
    font-weight: 600;
    color: rgba(107, 114, 128, 1);
    background-color: #fff;
    border-bottom: none;
    font-size: 16px;
    height: auto;
}

.layui-layer-custom .layui-layer-content{
    height: auto !important;
}

.layui-layer-custom .layui-layer-btn {
    text-align: center;  /* 确保按钮居中对齐 */
}

.layui-layer-custom .layui-layer-btn a {
    text-decoration: none;
    display: block;  /* 将display设为block，使按钮占满父容器宽度 */
    border-radius: 0.5rem;
    width: 100%;  /* 设置按钮宽度为100% */
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    background-color: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
    height: auto;
    margin: 0 auto;  /* 确保按钮在父容器内居中 */
    border: none;
    box-sizing: border-box;  /* 确保padding不会影响按钮宽度 */
}

/* 自定义加载按钮样式 同步照片中 */
.layui-layer-loader {
    max-width: 320px;
    border-width: 1px;
    border-color: rgb(0 0 0);
    border-radius: 1rem !important;
    background-color: rgb(0 0 0 / 76%) !important;
    padding: 1rem !important;
    -webkit-background-clip: unset !important;
}



.customLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* 调整内边距 */
}

.loader {
  --s: 5px;
  width: calc(10 * var(--s));
  display: grid;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-mask: radial-gradient(50% 50%, #0000 calc(99% - 2 * var(--s)), #000 calc(101% - 2 * var(--s)));
  animation: r 4s linear infinite;
  margin: 0 auto;
}

.loader:before {
  content: "";
  background: conic-gradient(from 25deg, #f8a201 25%, #fa2402 0 50%, #fdb3b0 0 75%, #02dde1 0);
  -webkit-mask: repeating-conic-gradient(#0000 0 25deg, #000 23% 25%), radial-gradient(var(--s) at var(--s) 50%, #000 97%, #0000) left/calc(100% - 2 * var(--s)) 100% repeat-x, radial-gradient(var(--s) at 50% var(--s), #000 97%, #0000) top /100% calc(100% - 2 * var(--s)) repeat-y;
}

@keyframes r {
  to {
    transform: rotate(1turn);
  }
}

.customLoading p {
    margin-top: 10px; /* 调整文本上边距 */
    margin-bottom: 0; /* 移除文本下边距 */
    color: #fff;
}

/**自定义加载样式结束**/


/**同步按钮样式**/
.colorful {
    font-size: 14px;
    font-weight: 700;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    position: relative;
    border-radius: 2px;
}

.colorful i {
    font-size: 14px;
}

.sp {
  background: linear-gradient(
      90deg,
      #866ee7,
      #ea60da,
      #ed8f57,
      #fbd41d,
      #2cca91
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}


/**相册布局**/
.photo-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}


.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}

.photo {
    width: 100%;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: calc(100% - 6px); /* 最大宽度，防止超出父容器 */
}

.grid {
    flex-basis: calc(33.33% - 3px); /* 每行三张图片，减去间距 */
    position: relative; 
    padding-top: calc(33.33% - 3px); /* 高度与宽度一致，保持正方形 */
    box-sizing: border-box;
}

.grid-item {
    position: absolute; /* 绝对定位，填充整个容器 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid white;
}


/*友链*/
.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin: 5px;
}

.links li {
    list-style: none;
}

.link-item a {
    display: block;
    border-radius: var(--radius-inner);
    overflow: hidden;
    padding: 8px 15px;
    color: #555;
    word-break: break-all;
    transition: box-shadow 0.35s, -webkit-transform 0.35s;
    transition: transform 0.35s, box-shadow 0.35s;
    transition: transform 0.35s, box-shadow 0.35s, -webkit-transform 0.35s;
}

.link-item h5 {
    position: relative;
    font-size: 12px;
    margin: 0;
    display: inline-block;
    letter-spacing: 2px;
}

.link-item h5:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background:#d6d6d6;
}

.link-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    text-align: left;
}

.link-info span {
    font-size: 11px;
}

.links li:nth-child(6n+1) {
    background: #00a4bb1a;
}

.links li:nth-child(6n+2) {
    background: #fff2eb;
}

.links li:nth-child(6n+3) {
    background: #edf7ff;
}

.links li:nth-child(6n+4) {
    background: #f5f2fb;
}

.links li:nth-child(6n+5) {
    background: #ff858529;
}

.links li:nth-child(6n) {
    background: #fbf2f2;
}

h4.link-request {
    margin: 20px 30px 15px;
    color: #333333;
}

/*书房*/

#books {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px; 
    margin: 0 auto; 
    padding: 10px;
}

.book-item {
    flex-basis: calc(25% - 8px); 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; 
    color: inherit;
}

.book-thumb {
    width: 100%;
    padding-top: 133.33%; /* 宽高比为 3:4 (4/3 = 1.3333) */
    background-size: cover;
    background-position: center; 
    border-radius: 1px; 
}

.book-name {
    text-align: center; 
    font-size: 11px; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%; 
    max-width: 80px; 
    margin: 10px auto 0; 
    padding: 0 5px;
    box-sizing: border-box; 
}


/*书房详情页*/

.book-bg {
    height: 150px;
    position: relative;
    padding: 60px 0px 20px 30px;
    display: flex;
    align-items: center;
    }
    
.book-bg:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    filter: blur(20px);
    -webkit-filter:blur(20px);
    -moz-filter:blur(20px);
    -ms-filter:blur(20px);
    -o-filter:blur(20px);
    }
    
.books-content {
    overflow: hidden;
    }
    
.book-img {
    width: 100px;
    height: 135px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 1px 1px 2px 0px #00000070;
    }
    
.book-info,.book-img {
    filter: blur(0);
    vertical-align: middle;
}
    
.book-img {
     max-width: 25vw; 
     margin-right: 20px;
}
    
.book-info {
    color: #fff;
    font-family: auto;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 55vw;
    justify-content: center;
    }
    
.book-info h2 {
    text-shadow: 2px 2px 0px #1f1f1f;
    margin: 0;
        font-size: 18px;
    }
    
.book-info span {
    margin-top: 10px;
    text-shadow: 1px 1px 0px #1f1f1f;
        font-size: 12px;
    }
    
.usual {
  padding: 10px 30px;
  clear: both;
}

.usual ul li {
    list-style: none;
    float: left;
    margin-right: 10px;
}

.usual .bookcss {
    padding: 10px 10px 8px 10px;
    clear: left;
}

#idTab2{
    display: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

.bookInfo {
    letter-spacing: 2px;
    line-height: 2;
    background: #f9f9f9;
    padding: 10px 20px;
    font-size: 14px;
    color: #8b8b8b;
}
.bookInfo img {
    max-width: 100%;
}


.no-note {
    background: #fff7ef;
    color: #838383;
    padding: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 50px;
}


#idTab2 .no-note {
    margin-top: 25px;
}


#idTab2 p {
    margin-bottom: 2em;
}


.idTabs {
    display: table-cell;
    position: relative;
    padding-inline-start: 0;
}

.idTabs .selected {
    border: #e0e0e0 1px solid;
    box-shadow: #1f1f1f 2px 2px;
    border-radius: 100px;
}

.idTabs li a {
     padding: 8px 15px;
    font-size: 14px;
    font-family: sans-serif;
}

.bookcss #comments {
    margin-top: 0 !important;
    padding: 0;
}

#comment-book i {
        color: #d7d7d7;
}

#comments .book-content {
    border: #f6f6f6 1px solid;
    box-shadow:1px 1px 0 -1px rgba(126, 107, 107, 0.95);
     -moz-border-radius-bottomleft: 20px 500px;
    -moz-border-radius-bottomright: 500px 30px;
    -moz-border-radius-topright: 5px 100px;
    -webkit-border-bottom-left-radius: 20px 500px;
    -webkit-border-bottom-right-radius: 500px 30px;
    -webkit-border-top-right-radius: 5px 100px;
    border-bottom-left-radius: 20px 500px;
    border-bottom-right-radius: 500px 30px;
    border-top-right-radius: 5px 100px;
    padding: 30px 25px;
}

#comments .book-content .book-note-content {
    word-wrap: break-word;
    line-height: 2rem;
}

#comments .book-content p {
    margin: 0;
    padding-left: 0 !important;
    word-break: break-all;
    text-align: justify;
    color: #606975;
    line-height: 30px !important;
    position: relative;
    padding-bottom: 20px;
    font-size: 14px;
    background: -webkit-gradient( linear, left top, left bottom, from(#05241d), color-stop(2%, rgba(255, 255, 255, 0)) );
    background: -moz-repeating-linear-gradient(top,#05241d,#05241d 29px,rgba(255, 255, 255, 0) 30px);
	background: repeating-linear-gradient(top,#05241d,#05241d 29px,rgba(255, 255, 255, 0) 30px
    );		
    -webkit-background-size: 100% 30px;
}

.bookcss #comments .comment-list li {
    margin-bottom: 30px;
    width: 100%;
}

.books-content #comments .comment-list li {
     -moz-border-radius-bottomleft: 20px 500px;
    -moz-border-radius-bottomright: 500px 30px;
    -moz-border-radius-topright: 5px 100px;
    -webkit-border-bottom-left-radius: 20px 500px;
    -webkit-border-bottom-right-radius: 500px 30px;
    -webkit-border-top-right-radius: 5px 100px;
    border-bottom-left-radius: 20px 500px;
    border-bottom-right-radius: 500px 30px;
    border-top-right-radius: 5px 100px;
}

.books-content #comments .comment-list li:nth-child(5n+1) {
    background: #f9f9f9;
}

.books-content #comments .comment-list li:nth-child(5n+2){
    background:rgba(255, 252, 229, 1);
}

.books-content #comments .comment-list li:nth-child(5n+3){
    background:rgba(217, 255, 226, 0.46);
}


.books-content #comments .comment-list li:nth-child(5n+4){
    background:rgba(255, 233, 156, 0.45);
}

.books-content #comments .comment-list li:nth-child(5n){
    background:rgba(255, 226, 210, 0.27);
}

.comment-book-info {
    text-align: right;
    font-size: 11px;
}

.book-list:first-child{
    margin-top: 25px;
}

/**写书摘**/
.bookcss #comments .comment-submit{
    
}



/*首页轮播**/
.swiper-slide {
    position: relative;
}
    .swiper-slide a {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: block;
    height: 200px;
    }
    
    .swiper-slide h2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: absolute;
    bottom: 0;
    color: #fff;
    text-shadow: 2px 1px 1px #000;
    font-size: 20px;
    padding: 10px 25px;
    }
    
    .swiper-pagination-bullet {
        background: #fff !important;
        opacity: var(--swiper-pagination-bullet-inactive-opacity, .3) !important;
    }
    
    .swiper-pagination-bullet-active {
        background: #fff !important;
        opacity: var(--swiper-pagination-bullet-inactive-opacity, .8) !important;
    }
    
/**版权信息**/
.copyright-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: red;
    text-align: center;
    z-index: 9999;
}

/**文章详情页溢出问题**/
.post_content p {
    word-break: break-all;
}

/**代码格式化**/
pre {
    overflow-x: auto;
}

pre code{
    display:block;
    overflow-x:auto;
    padding:1em;
    filter: blur(5px);
    transition: filter 0.4s ease;
    color: #ffffff;
    border-radius: 2px;
    letter-spacing: 0;
    line-height: 1.5;
}

/* Webkit 浏览器（Chrome、Safari、Edge）的滚动条样式 */
pre code::-webkit-scrollbar {
    height: 10px; /* 滚动条高度 */
}

pre code::-webkit-scrollbar-track {
    background: #2d2d2d; /* 滚动条轨道背景 */
    border-radius: 5px;
}

pre code::-webkit-scrollbar-thumb {
    background: #888; /* 滚动条滑块颜色 */
    border-radius: 5px;
    border: 2px solid #2d2d2d; /* 滑块边框 */
}

pre code::-webkit-scrollbar-thumb:hover {
    background: #aaa; /* 鼠标悬停时滑块颜色 */
}

/**高亮后的样式**/

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#23241f;color:#f8f8f2}.hljs-subst,.hljs-tag{color:#f8f8f2}.hljs-emphasis,.hljs-strong{color:#a8a8a2}.hljs-bullet,.hljs-link,.hljs-literal,.hljs-number,.hljs-quote,.hljs-regexp{color:#ae81ff}.hljs-code,.hljs-section,.hljs-selector-class,.hljs-title{color:#a6e22e}.hljs-strong{font-weight:700}.hljs-emphasis{font-style:italic}.hljs-attr,.hljs-keyword,.hljs-name,.hljs-selector-tag{color:#f92672}.hljs-attribute,.hljs-symbol{color:#66d9ef}.hljs-class .hljs-title,.hljs-params,.hljs-title.class_{color:#f8f8f2}.hljs-addition,.hljs-built_in,.hljs-selector-attr,.hljs-selector-id,.hljs-selector-pseudo,.hljs-string,.hljs-template-variable,.hljs-type,.hljs-variable{color:#e6db74}.hljs-comment,.hljs-deletion,.hljs-meta{color:#75715e}

    
    
/*主题说明**/
.wxq {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
        
.wxq span {
    display: inline-grid;
    align-items: center;
    justify-items: center;
    color: rgb(114 133 159);
    line-height: 2;
    margin-right: 20px;
}
        
span img {
    width: 140px;
}


/**设备兼容 放在最后面 新增代码请放到本注释前面**/

