/**
 * Version: 3.4.1
 * Updated: 2025-02-19
 * Author: ©彼岸临窗 oneblogx.com
 */
 
.col-tb-offset-2 {
    margin-left: 0;
    width: 100%;
}

#tab1 {
    min-height: 800px;
}

#tab-container {
    display: flex;
    margin-top: 20px;
}

#tab-nav {
    list-style: none;
    padding: 15px;
    width: 150px;
    margin: 0 20px 0 0;
    background: #fff;
    border-radius: 10px;
}

#tab-nav li {
    margin: 0;
}

#tab-nav li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 10px 20px 30px 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease;
}

#tab-nav li a.active {
    background-color: #6d6b6b;
    color: #fff;
    border-radius: 10px 20px 30px 10px;
    text-align: center;
    box-shadow: 3px 3px 8px #b9bbc4, -5px -5px 8px #fff;
}

#tab-content {
    flex: 1;
    padding: 10px 36px 30px;
    background: #fff;
    border-radius: 10px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/**图标列表**/
.icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* 每列最小120px，自动填充 */
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #f7f7f7;
    text-align: center;
}

.icon-item i {
    font-size: 24px; /* 图标大小 */
    margin-bottom: 8px; /* 图标与文字间距 */
}

.icon-item span {
    font-size: 14px; /* 文字大小 */
    color: #666; /* 文字颜色 */
}

/**底部提交按钮**/
.typecho-option-submit li{
    float: right;
}

.primary {
    background-color: #515151;
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
}

.primary:hover {
    background-color: #4079ff;
}

